<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
         <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
        <meta name="facebook-domain-verification" content="b9uvnurgyer1d63c9rjx4nngskvr9r" />
        <meta name="google-site-verification" content="QmTRRuyMIUhogeFPyDCpAe10f-K91KVpKEICDQrqzzI" />
        <meta name="google-site-verification" content="eQbBLS3QHeRxGX_MqrhjjlwGGVMAtcoX5bJsH3wd7Jc" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="{{SiteDescription}}" />
        <title>{{SiteTitle}}</title>
        {{SeoData}}
        {{HeaderCSS}}
        {{HeaderJS}}
        <link rel='shortcut icon' href='{{FavIcon}}' type='image/x-icon' />
        <link href="https://storage.googleapis.com/agiledealer/cache/css/singlesite/defaultPage-cogswellford.min.css" rel="stylesheet" />
        <link href="https://storage.googleapis.com/agiledealer/cache/custom0.min.css" rel="stylesheet" />
    <link href="https://storage.googleapis.com/agiledealer/cache/responsive.min.css" rel="stylesheet" />
    
        {{NonAdminCss}}
        
    
    </head>
    <body>
        
        <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TR83T66"
            height="0" width="0" style="display: none; visibility: hidden"></iframe>
    </noscript>
    
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P5X287Q"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>

    <header>
        <div class="headertop">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-4 col-xs-12 logo-div">
                        
                        <div class="hdrLogo">
                            <a title="JarrettScott Ford Logo" href="/">
                                <img src="https://storage.googleapis.com/savvy-images/JarrettScottFord-logo.jpg" class="site-logo logo Default img-responsive" alt="JarrettScott Ford Logo"></a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-xs-12 text-left info-div">
                        <div>
                            <div class="hdrightInr">
                                <div class="admin-logon-panel text-center d-nonadmin-none">
                                    <ul class="manage">
                                        <li>{{MismatchCounters}}</li>
                                    </ul>
                                </div>
                                <div>
                                    <ul class="listInfo">
                                        <li><a href="tel:(813) 752-4171" id="headerFormView_phoneRef" title="Call Us Now"><i class="fa fa-phone"></i> (813) 752-4171</a>
                                            <input type="hidden" id="altPhone" data-altphonenum="(813) 752-4171"><br>
                                          
                                        </li>
                                        
                                    </ul><p class="paddress"><a rel="noreferrer" href="https://www.google.com/maps/place/Jarrett+Scott+Ford+of+Plant+City/@28.0195908,-82.1081535,17z/data=!4m13!1m7!3m6!1s0x88dd36f353615b4d:0xa8bd2537c6302e2b!2s2000+E+Baker+St,+Plant+City,+FL+33563!3b1!8m2!3d28.0195956!4d-82.1057281!3m4!1s0x88dd36f35539de57:0x33d3b2ef2c260b82!8m2!3d28.0192289!4d-82.1060703" title="2000 East Baker St. Plant City, FL 33563" style="color: #0071B2;" target="_blank">2000 East Baker St. Plant City, FL 33563</a> </p>
                                </div><div id="google-translate-wrapper">
                                    <div id="google_translate_element"></div>
                                </div>

                                <div class="btntop" style="margin-top:0px;">
                                    <a href="/dealership-info/hours-and-directions" id="headerFormView_personalizationLogo" title="Hablamos Español">Hablamos Español</a>
                                </div>

                                
                            </div>
                            
                        </div>
                         
                    </div>
                </div>
            </div>
        </div>
        
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <link href="https://storage.googleapis.com/agiledealer/cache/slick.min.css" rel="stylesheet" />
        
        <div class="navMain">
            <div class="container">
                <div class="navmenu">
                    <div class="userdashboard d-userAdmin-none">
                            <ul class="navigation">
                                <li><a href="javascript:void(0);"><i class="fa fa-user-circle-o user-icon"></i>&nbsp; Hi! {{userFirstName}} <i class="" aria-hidden="true"></i></a>
                                    <ul class="submenu user-menu">
                                        <li class="desktop-dashboard-menu"><a href="/Account/Manage"><i class="fa fa-dashboard user-icon"></i>&nbsp; My Dashboard</a></li>
                                        <li class="desktop-logout-menu"><a href="/logoff"><i class="fa fa-sign-out user-icon"></i>&nbsp; Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    <ul class="home-menu">{{MenuHtml}}</ul>
                     <ul>
                        <li class="mob-dashboard-menu d-nonadmin-none" style="display: none;"><a href="/Account/Manage"><i class="fa fa-dashboard"></i>&nbsp; My Dashboard</a></li>
                        <li class="mob-logout-menu d-nonadmin-none" style="display: none;"><a href="/logoff"><i class="fa fa-sign-out"></i>&nbsp; Logout</a></li>
                   </ul>
                </div>
            </div>
        </div>
        <div class="closeIcn"><span>x</span></div>
        <div class="menuIcn"><i aria-hidden="true" class="fa fa-bars"></i></div>
        <div class="overlay"></div>
    </header>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js" integrity="sha512-q583ppKrCRc7N5O0n2nzUiJ+suUv7Et1JGels4bXOaMFQcamPk9HjdUknZuuFjBNs7tsMuadge5k9RzdmO+1GQ==" crossorigin="anonymous"></script>
    <div id="MainContent_pnlWidgetContents">
        <div class="container-fluid">
            {{HomePageWidgetsData}}
        </div>
    </div>
    <div class="clear"></div>
    <div class="container-fluid">
        <div class="row  ADACompliance">
            <div class="col-md-12">
                <div class="ftrlogo">
                    <a href="/privacy#ADACompliance">
                        <img class='lazyload' 
                        data-srcset='https://storage.googleapis.com/savvy-images/ADA/Gregory-Auto-Group/ADA-Compliance-Accessibility-Logopng-100w.jpeg 100w' 
                        data-src='https://storage.googleapis.com/savvy-images/ADA/Gregory-Auto-Group/ADA-Compliance-Accessibility-Logopng-100w.jpeg' 
                        alt='ADA Compliance' title="ADA Compliance" aria-label="ADA Compliance" style="max-width: 100%; max-height: 90px;"/>
                    </a>
                    <a href="/privacy#ADACompliance" class="btn btn-default vcp-button" title="ADA Compliance"
                        aria-label="ADA Compliance">Accessibility Disclaimer</a>
                </div>
            </div>
        </div>
    </div>
    {{FooterCustomHtmlCode}}
    {{FooterCustomJavascript}}
    {{FooterCustomCss}}
    {{SiteCustomJavascript}}
    {{SiteCustomCss}}
    <div id="ContactModal" class="modal fade" role="dialog" aria-expanded="true" style="">
        <div class="modal-dialog" style="width: 400px; max-width: 95%;">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Ask Us Anything!</h4>
                </div>
                <div class="modal-body" style="height: 500px; overflow: auto;">
                    <!-- Contact us form goes here -->
                </div>
            </div>
        </div>
    </div>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script defer src="https://storage.googleapis.com/agiledealer/cache/main.js"></script>
    <script defer src="https://storage.googleapis.com/agiledealer/cache/AgileDealer.DefaultPage.min.js"></script>
    
    </body>
   

</html>
